.navbar-brand img {
  width: 50px;
}

#main-title {
  text-align: center;
  margin: 30px 0;
}

/* HOME */
#contacts-table {
  max-width: 800px;
  margin: 0 auto;
}

#contacts-table thead {
  color: #FFF;
  background-color: #007bff;
}

.actions {
  text-align: right;
  width: 150px;
}

.actions i {
  font-size: 18px;
  margin-right: 5px;
}

.check-icon {
  color: #1e7e34;
}

.edit-icon {
  color: #007bff;
}

.delete-form {
  display: inline-block;
}

.delete-form button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.delete-icon {
  color: #bd2130;
}

/* ADD CONTACT */
#create-form {
  max-width: 500px;
  margin: 0 auto;
}