/* Navbar */
.navbar-brand {
  position: relative;
}

#logo {
  width: 50px;
}

#moviestar-title {
  color: #FFF;
  position: absolute;
  bottom: -2px;
  font-size: 30px;
  left: 55px;
  font-weight: bold;
}

#main-navbar {
  background-color: #121212;
}

#search-form {
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 5px;
  width: 50%;
  margin-left: 180px;
}

#search-form .form-control {
  border: none;
  width: 90%;
  box-shadow: none;
}

#navbar {
  min-width: 30%;
}

.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-item .nav-link {
  color: #FFF;
  transition: .5s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #999;
}

.bold {
  font-weight: bold;
}

.msg-container {
  background-color: #000;
  padding: 15px;
}

.msg {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px #000;
  text-align: center;
}

.msg.error {
  color: #842029;
  background-color: #F8D7DA;
  border-color: #F5C2C7;
}

.msg.success {
  color: #0F5132;
  background-color: #D1E7DD;
  border-color: #BADBCC;
}

/* Home */
#main-container {
  background-color: #000;
  color: #FFF;
  min-height: 65vh;
  padding: 40px;
}

/* Login / Register */
#auth-row {
  justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
  text-align: center;
  border-bottom: 2px solid #F5C518;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}

#login-container form,
#register-container form {
  max-width: 400px;
  margin: 30px auto;
}

.card-btn {
  color: #000;
  background-color: #F5C518;
  border: 2px solid #F5C518;
  width: 100%;
}

.card-btn:hover {
  background-color: transparent;
  color: #F5C518;
  border-color: #F5C518;
}

/* Footer */
#footer {
  background-color: #000;
  color: #FFF;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#social-container ul,
#footer-links-container ul {
  list-style-type: none;
  padding: 0;
}

#social-container li,
#footer-links-container li {
  display: inline-block;
  margin: 0 20px;
}

#social-container li {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transition: .5s;
  line-height: 3;
}

#social-container li:hover {
  background-color: #333;
}

#social-container a,
#footer-links-container a {
  color: #FFF;
  transition: .5s;
}

#social-container li i {
  font-size: 25px;
}

#footer-links-container {
  margin: 30px 0;
}