/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  padding: 10px;
  text-transform: uppercase;
  list-style: none;
}

#navbar li {
  margin: 0 10px;
}

#navbar .nav-link {
  color: #FFF;
  text-decoration: none;
  transition: .5s;
  font-size: 12px;
}

#navbar .nav-link:hover {
  color: #999;
}

/* HOME */
#title-container {
  min-width: 500px;
  text-align: center;
  margin-top: 50px;
}

#title-container h1 {
  font-size: 50px;
}

#title-container p {
  margin-top: 10px;
  text-transform: uppercase;
  color: #999;
}

#posts-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.post-box:first-child {
  min-width: 100%;
}

.post-box {
  flex: 1 1 0;
  margin: 0 1%;
  margin-bottom: 20px;
}

.post-box .post-title {
  font-size: 24px;
  margin: 5px 0;
}

.post-box .post-title a {
  color: #000;
}

.post-box .post-description {
  color: #666;
}

.post-box img {
  width: 100%;
}

.tags-container {
  margin-top: 10px;
}

.tags-container a {
  font-size: 14px;
  color: #333;
  display: inline-block;
  margin-right: 5px;
}